### analyse tax refounds

In [73]:
import re
import pandas as pd

In [74]:
html_content = ""

with open('data.html', 'r', encoding='utf-8') as f:
    html_content = f.read()

In [75]:
# Use regular expressions to extract data
pattern = re.compile(r'>(.*?)<')
matches = pattern.findall(html_content)

# Organize data into a list of lists
data = [matches[i:i + 4] for i in range(0, len(matches), 4)]

In [76]:
# data

In [77]:
# Create a pandas DataFrame
# df = pd.DataFrame(data, columns=['שיער ההטבת מס בשנת 2024', 'תקרת הטבה שנתית ב- ש"ח', 'שם יישוב', 'סמל היישוב'])
df = pd.DataFrame(data, columns=['Percentage', 'Number', 'Location', 'ID'])

# Sort the DataFrame by the 'שיער ההטבת מס בשנת 2024' column in descending order
# df_sorted = df.sort_values(by='שיער ההטבת מס בשנת 2024', ascending=False)
df = df.sort_values(by='Percentage', ascending=False)

# remove first row
df = df.drop(index=0)

# Remove '%' and convert to integer
df['Percentage'] = df['Percentage'].str.rstrip('%').astype(int)

# Convert the 'שיער ההטבת מס בשנת 2024' column to numeric format for sorting
# df['שיער ההטבת מס בשנת 2024'] = df['שיער ההטבת מס בשנת 2024'].str.rstrip('%').astype(float) / 100


# Reset the index of the DataFrame
df = df.reset_index(drop=True)

In [78]:
df

     Percentage   Number     Location     ID
0             7  146,640       כורזים  1,252
1             7  146,640    יאנוח-ג'ת   1295
2             7  146,640         ראמה    543
3             7  146,640        יחיעם    409
4             7  146,640        יסעור    575
..          ...      ...          ...    ...
477          10  180,000  מצדות יהודה   3745
478          10  180,000        מצובה    325
479          10  180,000       עתניאל   3748
480          10  180,000      מרחב עם   1340
481          10  180,000    כפר חנניה   1297

[482 rows x 4 columns]

In [79]:
# You can save the sorted DataFrame to a CSV file:
df.to_csv('sorted_data.csv', index=False)

In [83]:
# filtered_df = df[(df['Percentage'] >= 14) & (df['Percentage'] < 20)]
filtered_df = df[df['Percentage'] == 20]
# filtered_df = df[df['Percentage'] == 12]

In [84]:
# filtered_df

In [85]:
filtered_df['Location'].tolist()

['מגן',
 'שדה ניצן',
 'נווה',
 'תושייה',
 'פרי גן',
 'עין הבשור',
 'צוחר',
 'רעים',
 'כפר מימון',
 'דקל',
 'אור הנר',
 'כפר עזה',
 "מג'דל שמס",
 'תקומה',
 'נתיב העשרה',
 'דורות',
 'אבשלום',
 'ארז',
 'סופה',
 'עין השלושה',
 'שלומית',
 'כרמייה',
 'שלומי',
 'מפלסים',
 'כרם שלום',
 'מבטחים',
 'מבקיעים',
 'תלמי אליהו',
 'בארי',
 'זיקים',
 'נירים',
 'שדרות',
 'עמיעוז',
 'יבול',
 'יד מרדכי',
 'ניר עם',
 'איבים',
 'שובה',
 'תלמי יוסף',
 'קריית שמונה',
 'שדי אברהם',
 'יכיני',
 "ע'ג'ר",
 'עלומים',
 'סעד',
 'שוקדה',
 'בני נצרים',
 'אוהד',
 'גבים',
 'נחל עוז',
 'ישע',
 'יתד',
 'חולית',
 'גברעם',
 'כיסופים',
 'ניר יצחק',
 'ברור חיל',
 'זמרת',
 'ניר עוז']

In [98]:
# Value to find
value_to_find = 'אביטל'

# Column to search in
column_to_search = 'Location'

# Find rows where the column contains the specific value
matching_rows = df[df[column_to_search] == value_to_find]

# Display the matching rows
matching_rows

Empty DataFrame
Columns: [Percentage, Number, Location, ID]
Index: []